@import "_blog.css";
@import "vars.css";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Zilla+Slab');

html{
    background-color: #E0FFFF;
    box-sizing: border-box;
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}

header{
    display: flex;
    flex-wrap: wrap;
    min-height: 351px;
    justify-content: space-around;
    background-image: url("/code.png");
}
.name{
    font-family: 'Zilla Slab', serif;
    width: 20%;
}
header nav ul li{
    display: inline-block;
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
    margin-right: 15px;
}

main{
    min-height: 450px;
}

footer{
    display: inline-block;
    min-height: 150px;
    background-image: url("/footer.jpg");
}
footer nav{
    float: left;
    width: 25%;
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
    text-decoration: none;
}
footer a{
    color: #808080;
    text-decoration: none;
}
footer nav ul li{
    list-style-type: none;
}
footer h1{
    margin-top: 100px;
    margin-right: 40px;
    text-align: right;
    float:right;
    width: 50%;
    color: #808080;
}


header p{
    height: 100px;
    text-align: center;
    margin-top: 165px;
    font-size: 50px;
    font-family: 'Patua One', cursive;
    color: #808080;
    text-shadow: 0 1px 2px #000000, 0 0 1em #808080 ;

}
header a{
    color: black;
    text-decoration: none;
}
a:hover {
    color: #696969; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
}
.active{
    color: black;
    text-decoration: underline;
}

main{
    min-height: 520px;
    background-color: #DCDCDC;
}
.blog-list{
    display: block;
    float: right;
    margin-top: 80px;
    margin-right: 300px;
}
.bio{
    display: block;
    float: left;
    margin-left: 200px;
}
.bio1 {
    height: 170px;
    width: 170px;
    border-radius: 100px;
    border: 3px solid #5F9EA0;
    box-shadow: 0 0 5px #666;
    margin-left: 60px;
    margin-top: 60px;
}
#pro{
    margin-left: 55px;
    color: #808080;
}
#name{
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
    color: black;
    text-align: center;
}
.twitter ul li {
    width: 25%;
    list-style-type: none;
    display: inline-block;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 33px;
}

.twitter  img{
    width: 45px;
    height: 45px;

}

.blog-list{

    width: 350px;
    height:350px;
    border: 1px solid #808080;
}
.blog-list p{
    font-family: 'Zilla Slab', serif;
    font-size: 25px;
    text-align: center;
}

.blog-list ul li{
    list-style-type: none;
    margin-right: 5px;
}
.blog-list a{
    text-decoration: none;
}

/*стили блога*/
main.blog{
    display: flex;
    flex-wrap: wrap;
}
.widgets{
    width: 100%;
    text-align: center;
    margin: 20px auto;
}
.tag-list{
    white-space: nowrap;
    overflow-x: scroll;
}
.tag-item{
    display: inline-block;
    background: #ADD8E6;
    color: #000;
    padding: 3px 8px;
}
.post-list{
    max-width:720px ;
}
.post-preview a{
    color: #000;
}
.post-preview .meta{
    font-family: 'Patua One', cursive;
    display: inline-block;
}
.meta{
    display: inline-block;
    background: #B0C4DE;
    color: #000;
    padding: 3px 8px;
}

main.article{
    margin: 20px auto;
    width: 90%;
}

.about{
    margin-top: 70px;
    margin-left: 250px;
    height: 300px;
    width: 700px;
    border: 2px solid #808080;
}

.abouth{
    font-family: 'Patua One', cursive;
    text-align: center;

}
.aboutp{
    font-family: 'Patua One', cursive;
    text-align: center;
    font-size: 25px;
}
.aboutp a{
    text-decoration: none;
}

.aboutp .abouth{
    margin-top: 20px;
}

.contacts{
    margin-top: 80px;
    margin-left: 280px;
    width: 50%;
    height: 300px ;
    border: 1px solid black;
}

.contacts a img{
    width: 80px;
    height: 80px;
    padding: 15px 15px 15px 15px;
}

.contacts ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
}
.contacts h2{
    font-family: 'Patua One', cursive;
    font-size: 30px;
    text-align: center;
}